# Disable all files with .local ending
*.local

# Disable all java files
*.class
sources/FunctionGenerator/bin
sources/fg/bin


# Disable all eclipse like files
*.settings/
*.metadata/
runtime-EclipseApplication/

# Disable all of the ECJ statistics
*.stat

# Disable all KDE files
*.directory
*~
